#container{
	display: flex;
	flex-flow: row wrap;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	background-color: #ccffcc;
	border-radius: 10px;
	padding: 10px;
	font-size: 0;
}

.landing-message{
	flex-direction: row;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	margin: 50px auto;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
	}

#text
	{
	font-family: 'Indie Flower', cursive;
	color: #663300;
	}

#background{
	background-image: url("images/backdrop.jpg");
}

#text2
	{
	font-family: 'Indie Flower', cursive;
	color: #992600;
	font-variant: small-caps;
	}

#centered {
  transform: translate(-20%);
}

#imageright{
	float: right;
	padding: 5px;
	padding-right: 20px;
}

#imagecenter{
	float: left;
	padding: 5px;
}

#captionleft{
	position: block;
}
