<section>

<figure><img src="images/mrb/pinup.jpg" width="19%" height="20%" alt="Image not available"><img src="images/mrb/Ivan.jpg" width="19%" height="20%" alt="Image not available"><img src="images/mrb/Nekro.jpeg" width="19%" height="20%" alt="Image not available"><img src="images/mrb/Boris.jpg" width="19%" height="20%" alt="Image not available"><img src="images/mrb/natasha.jpg" width="19%" height="20%" alt="Image not available"></figure>

<article>

<h3 id="text2">Blood, drugs and head-butting a downed dog so hard his brains spread across the floor…</br>Just another Friday night in.</h3>

<h4 id="text">Mother Russia bleeds is the first offering from 4 man Parisian indie developer, Le Cartel. It is an out-and-out homage to the Streets of Rage series, with a violent twist on the once ubiquitously popular beat-em-up genre. Having been picked up and published by Devolver Digital (Hotline Miami, Broforce) it was a safe bet MRB would delight in ultraviolence and a strong emphasis on fast, frenetic gameplay, none of which are lacking here.</h4>

<h4 id="text">MRB’s storyline revolves squarely around a fictional drug called Nekro, which draws inspiration from the all-too-real drug Krokodil, which is currently plaguing Russia’s underprivileged youth.</h4>

<figure>
<img id="imagecenter" src="images/mrb/pigs.jpeg" width="25%" height="25%" alt="Image not available" foot="Bringing home the bacon">
</figure>

<h4 id="text">After being taken into police a custody for illegal street fighting, your plucky band of gypsy street fighters are kept in a cell and experimented on, by way of repeatedly being injected with Nekro.</h4>

<h4 id="text">What follows is a mechanic of healing yourself via the drug or entering a ‘rage mode’ whereby you perform enhanced damage and have the opportunity to perform a fatality-like finishing move on a single foe.</h4>

<h4 id="text">Nekro plays a pivotal part in the game as it is the only way of healing yourself (Don’t expect to find any fully cooked chickens inside a smashed barrel this time around). The only way to retrieve Nekro is from randomised enemies that begin to convulse upon death, due to the drug in their system. If you see this, walk over to them and draw the drug from their veins using your trusty syringe.</h4>

<figure>
<img id="imageright" src="images/mrb/brawl.jpeg" width="25%" height="25%" alt="Image not available">
</figure>

<h4 id="text">The process of drawing Nekro can be a slow one, so coupled with tens of enemies on screen who are baying for your blood, collecting the drug from a foe can be extremely tense, and requires tactical timing and defence. Kneeling over an enemy, sucking the drug from his veins, only pausing to kick another enemy away before returning to the grim task did a fantastic job of making me feel like a desperate junkie, and I loved it.</h4>

<h4 id="text">Catering for up to four players, the game is undoubtedly at it’s best with a friend or three, although my first play-through was a solo experience, and I had a blast. You are also given the option of adding bots to assist you, but with their thicker-than-fish AI, I wouldn’t recommend it.</h4>

<h4 id="text">The combat is surprisingly deep, you have four combat buttons on the face of the controller, serving for jump, light attack, heavy attack and grab. Each of which can be chained together to create a different move (Jump and grab, for instance was a violent and punishing delight), as well as being able to hold light attack to deliver a vicious blow. This is all before you even touch dash on R1, which quite literally changes your whole game and fighting mechanics for the better. After these core inputs you move onto three buttons which just serve the syringe. It may seem like a lot to get to grips with for a beat-em-up, but it all comes together nicely.</h4>

<figure>
<img id="imagecenter" src="images/mrb/prison.jpeg" width="25%" height="25%" alt="Image not available">
</figure>

<h4 id="text">My one gripe with MRB would be the writing of the text-delivered dialogue. To say that it was hackneyed would be a gross understatement. This ragtag band of Russian gypsies speak like foul-mouthed American action heroes, and no variation is given to each character, being a problem when you find yourself playing as Boris, the insane and unhinged member of the group. Things will feel disjointed as you see this maniac reasoning with attackers, and waxing lyrical about the implications of the revolution to his allies, all before you hit the taunt button and he takes a shit in his hand to chuck it at the closest unlucky sod he can see.</h4>

<h4 id="text">Despite the cheesy writing however, I enjoyed the story. It’s limited, but there’s just enough in there to keep the action moving, which is really what we all came for.</h4>

<figure>
<img id="imageright" src="images/mrb/bear.jpeg" width="25%" height="25%" alt="Image not available">
</figure>

<h4 id="text">The visuals in MRB are gloriously designed 16 bit retro-heaven pixel art. If you’re as old as I am perhaps you remember these visuals from the first time round, and if you do, perhaps this is what makes the pixel-art cartoon violence in MRB so deliciously shocking. The enemies are varied enough to keep discovering new ways of downing them, and your eyes are constantly treated to new and weirder threats. The backgrounds, while often depicting a bleak setting, are never devoid of colour and attention. It’s a rather beautiful game, set in an ugly world. A strange dichotomy that simply works.</h4>

<h4 id="text">Mother Russia Bleeds promises violence, arcade fun and a bundle of laughs to be had on the couch with your mates. It delivers by the bucket-full. What pleasantly surprised me in the end was the depth of the combat system. With an action packed story mode, and arena stages that offer the prize of different takes on Nekro power-ups, I will be coming back to Mother Russia Bleeds again, and again, and again.</h4>


<h1 id="text2"><strong>8/10</strong></h1>
<h3 id="text">Alex Miller
</h3>

</article>

</section>