<img src="images/octodad/header.jpg" alt="Image not available">

<h3 id="text2">Octodad is like a Will Ferrell movie; technically you can experience it by yourself...</br>But it only really becomes a fun time when you have someone to share the laughs with.</h3>

<img id="imageright" src="images/octodad/restauraunt.png" alt="Image not available" width="25%" height="25%">

<h4 id="text">The game follows an octopus who is living incognito as a picture-perfect husband and father.  You walk him down the aisle, help him mow the lawn, take the kids out and occasionally escape a murderous sushi-chef who adds a light sprinkling of peril to the proceedings.  Whilst the premise tiptoes towards the brink of absurdity, the controls kick it over the edge with a raucous laugh, as four limbs (2 arms, 2 legs) are controlled independently, and two players will get 2 appendages each, making tasks as simple as preparing a coffee for your lovely wife a real mission.</h4>

<img id="imagecenter" src="images/octodad/supermarket.gif" alt="Image not available" width="25%" height="25%">


<h4 id="text">The game forces you to work together, which can be tricky when you are doubled over laughing as Octodad inadvertently tips a plate of pasta on top of someone’s head, or it takes you a full minute to put a key in a lock.  It has somehow made frustration its driving force, turning rage into pure joy.</h4> 

<h4 id="text">At its best, Octodad will have you laughing so hard you won’t be able to hold your controller properly, let along use it.  But there are a couple of missteps that can drain the joy out of lengthy sequences.  There are a couple of stealth sections that are more tedious than thrilling, <img id="imageright" src="images/octodad/chef.jpg" alt="Image not available" width="25%" height="25%"> and we seemingly completed them out of sheer luck.  There is also a section in which Octodad must swim away from a hungry predator, this locks out player two for the entire sequence, and player one basically just holds forward as the camera swoops and spins in a lame attempt to build excitement.  I’m sure these sections were included to add a little variety, but all they do is slow the game down.</h4>

<h4 id="text">Depending on how quick you are to master the controls, the game will be done in a few hours, but if awkward silences ever descend on nights in with a mate, it is perfect to load up and revisit, and will no doubt have you laughing in minutes.</h4>

<h1 id="text"><strong>7/10</strong></h1>
<h3 id="text">Adam Miller</h3>