<img src="images/overcooked/wallpaper.jpg" width="30%" height="30%" alt="Image not available">

<h3 id="text2">After 24 years I can officially say my gaming virginity has been taken.</h3>

<h4 id="text">This happened after I had the pleasure of being introduced to Overcooked. Chosen by my gamer boyfriend in his quest to convert me into the computer game loving girlfriend he – and I am sure many a man out there – has always hoped for.</h4>

<img id="imagecenter" src="images/overcooked/4player.jpg" alt="Image unavailable" width="25%" height="25%">

<h4 id="text">I’d like to think he chose the game because he knew it was a good introduction into gaming based on teamwork and shared fun, rather than a subtle hint that I need to spend more time in the kitchen.</h4>

<h4 id="text">Overcooked is an arcade-style game whereby you use team work to cook and serve as many meals as possible before the timer runs out. There will be laughter, arguments, and at times, even fire.</h4>

<h4 id="text">Before I reveal whether I have been converted I think it needs to be made clear – I am not a natural when it comes to computer games. Learning which buttons to press so I could dash around the kitchen quick enough to stop a steak burning (High fantasy for a vegetarian) and learning how to hold the controller without giving myself hand cramps were a few of the obstacles I had to overcome.</h4>

<img id="imageright" src="images/overcooked/space.jpg" alt="Image unavailable" width="25%" height="25%">

<h4 id="text">HOWEVER when I got the hang of it, Overcooked was the perfect game for a gaming virgin. My competitive nature kicked in, meaning within minutes I found myself shouting “YOU CHOP THE LETTUCE, I’LL HANDLE THE BUNS!” in order to get multiple orders out and reach that holy grail…3 stars on each level.</h4>

<h4 id="text">A fun game for couples if you’re looking for an afternoon activity that you can carry out together, without having to move off of the sofa or use too much brain power – Both of which being a fate worse than death.</h4>

<img id="imagecenter" src="images/overcooked/ice.jpg" alt="Image unavailable" width="25%" height="25%">

<h4 id="text">After my first five-hour session on Overcooked, I found myself craving more, which I can only assume is the sign of a good game.</h4>

<h4 id="text">Don’t get me wrong – I won’t be suggesting we sit in our pants playing computer games every weekend, when we should probably be spending time more time cooking real meals, but I will continue to play Overcooked until we’ve completed every level to a 3 star standard, and I’m now even open minded to trying new games. I hear Octodad is worth a shot?</h4>

<h4 id="text">Overcooked brought me into the gaming world, and I’m happy to be here.</h4>

<h1 id="text"><strong>9/10</strong></h1>
<h3 id="text">Meera Patel</h3>
